name: github-actions-pipeline
on: 
  pull_request:
    branches: [main]
jobs:
  build:
    name: Lint the code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
          # - uses: actions/setup-node@v2
          #   with:
          #     node-version: '14'
          # - run: npm install
          # - run: npm start
  
      - name: Lint the code
        uses: github/super-linter@v4
        env:
          # VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy
        run: echo "Deploying to heroku"
